@{
    ViewData["Title"] = "Home Page";
}

<h1>Pour combien ?</h1>

<form method="post" asp-action="Proposition">
    <input type="text" name="proposition" />
    <input type="submit" value="Proposer"/>
</form>
